Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET, POST, DELETE, PATCH"
Header always set Access-Control-Allow-Headers "X-Auth, Content-Type"

RewriteEngine On
RewriteRule ^doc(/|$) - [L]
RewriteRule ^ index.php [QSA,L]
